local.properties
*.iml
.idea/
.gradle/
/build
**/build/
.artifacts/
.DS_Store
*.apk
*.aab
google-services.json
keystore.properties
*.jks
*.keystore
*.hprof
*.class
*.so
*.dm
*.log
temp_aar/
temp_classes/
.kotlin/
app/release/
output-metadata.json
